@charset "utf-8";


/* 記事タイトル */
.article__title {
    display: flex;
    width: 100%;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    border-top: 5px dashed #333;
    border-bottom: 5px dashed #333;
    font-weight: bold;
    height: 140px;
    background-color: #F3E06E;
}

/* 記事タイトル下のリード文 */
.body__lead {
    padding: 40px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 15px;
    width: 95%;

}

@media screen and (min-width:1023px) {
    .body__lead {
        margin: 0 150px;
        width: 75%;
    }

}

/*h3記事見出しまわり*/
h3 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-radius: 20px;
    border: 5px solid #000;
    background: #F3E06E;

    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 15px;
}

@media screen and (min-width:1023px) {
    h3 {
        font-size: 26px;
        margin: 0 150px;
    }
}

/*本文*/
.body__main {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.body__img {
    width: 95%;
    height: auto;
    padding: 50px 0;
}

@media screen and (min-width:1023px) {
    .body__img {
        width: 65%;
        height: auto;
    }
}

/*囲み枠の中*/
h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
}

.text__box {

    display: inline-flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;


    border-radius: 30px;
    border: 1px solid #000;
    width: 95%;

    /* ここから追記 */

    margin: 20px 20px 30px;
}

@media screen and (min-width:1023px) {
    .text__box {
        width: 75%;
        height: auto;
        margin: 25px 20px 100px;
    }
}

.character_box .text__box p {
    line-height: 2;
    /* padding-top: 50px; */

}

.character_box {
    display: flex;
    flex-direction: column;
    width: 95%;
    /* height: auto; */
    /* margin: 25px; */
}

@media screen and (min-width:768px) {
    .character_box {
        flex-direction: row;
        width: 75%;
    }

}

.character_box .text__box {
    border: 6px solid #000;
}
