@charset "utf-8";


/* 記事タイトル */
.article__title {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    font-size: 2.6rem;
    width: fit-content;
    border-bottom: dotted 6px #F3E06E;
}

/* 記事タイトル下のリード文 */
.body__lead {
    padding: 40px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 15px;
    width: 95%;

}

@media screen and (min-width:1023px) {
    .body__lead {
        margin: 0 150px;
        width: 75%;
    }

}

/*h3記事見出しまわり*/
h3 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-radius: 20px;
    border: 5px solid #000;
    background: #F3E06E;

    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 15px;
}

@media screen and (min-width:1023px) {
    h3 {
        font-size: 26px;
        margin: 0 150px;
    }
}

/*本文*/
.body__main {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.body__img {
    width: 95%;
    height: auto;
    padding: 50px 0;
}

@media screen and (min-width:1023px) {
    .body__img {
        width: 65%;
        height: auto;
    }
}

/*囲み枠の中*/
h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
}

.text__box {

    display: inline-flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;


    border-radius: 30px;
    border: 1px solid #000;
    width: 95%;

    margin: 20px 0 30px;
}

@media screen and (min-width:1023px) {
    .text__box {
        width: 75%;
        height: auto;
        margin: 50px 0 100px;
    }
}
