@charset "utf-8";

/* 記事タイトル */
.article__title {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    font-size: 2.6rem;
    width: fit-content;
    border-bottom: dotted 6px #F3E06E;

}

/************************************/
/* メイン記事  artical */
/************************************/

.article__sub__ttl {
    margin: 50px 0 30px;
    padding-left: 10px;
    border-left: solid 8px #F3E06E;
    font-size: 2rem;
    font-weight: bold;
}

.article__text {
    font-size: 1.6rem;
    line-height: 2.0;
    margin: 30px 0 80px;
}


/************************************/
/* カテゴリーのアイコン */
/************************************/

.ctg__box {
    width: 100%;
    display: flex;
}

.ctg__txt {
    padding: 0 10px;
    margin: 10px 0 20px;
    line-height: 25px;
    border: solid 1.5px #000;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}


/****************************************************************/
/* カード2colから3colに変更する為 card__wrapperを col3__wrapper に変更 */
/****************************************************************/
.col3__wrapper {
    padding: 30px 10px;
}

@media screen and (min-width:768px) {
    .main__col {
        padding-top: 20px;
        padding-right: 40px;
    }

    .col3__wrapper {
        width: 30%;
    }
}

@media screen and (min-width:1023px) {
    .main__col {
        padding-right: 40px;
    }


    .col3__wrapper {
        width: 30%;
    }
}
