@charset "utf-8";

.gnav {
        border: 0px;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 35px;
        text-align: center;
    }
    .gnav__title {
        max-width: 100%;
        width: 100%;
    }
    .gnav__search__title {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: flex;

    }
    .menu__wrap__search {
        display: flex;
        height: auto;
        max-width: 1200px;
        margin: 0;
    }
    .menu__item__search__wrap{
        /* display: none; */
        display: block;
        width: 100%;
        top: 100px;

    }
    .menu__item__search {
        display: flex;
        width: 100%;
        height: 200px;
        padding: 20px 0;
        background-color:#f3e06e ;
    }
    .menu__item__search img {
        max-width: 100px;
        width: 100%;
        height: 100px;
    }
    .search__title {
        margin-left: 43%;
    }
    .search__title  p{
    width: 640px;
    border-top: 1px solid #000;
    padding-top: 20px;
    }
    .box__wrap {
        margin-top: 25px;
        display: flex;

    }

.box {
    display: flex;
    /* width: 100px; */
    /* height: 100px; */
    margin: 0 10px;
}
.box__wrap  ul{
    list-style: inside;
}
