@charset "utf-8";

/* ヘッダー */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #F9EFBC;
    z-index: 10;
    font-family: 'Zen Maru Gothic', sans-serif;
}
.wrapper {
    max-width: 1200px;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0px;
}
.header__logo{
    display: block;
    margin: 20px;

}
/* ヘッダー画像大きさ */
.header__logo img{
    width: 100px;
    height: 50px;
}




/******************************
        ハンバーガーメニュー
*******************************/

/* ハンバーガーメニュー3本線 */

.hamburger__menu__btn span,
.hamburger__menu__btn span:before,
.hamburger__menu__btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 23px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
    transition: all 0.5;
}

.hamburger__menu__btn span:before {
    bottom: 8px;
}

.hamburger__menu__btn span:after {
    top: 8px;
}

.hamburger__menu__btn.is-active span {
    background-color: rgba(235, 235, 235, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

.hamburger__menu__btn.is-active span::before {
    bottom: 0;
    transform: rotate(45deg);
}

.hamburger__menu__btn.is-active span::after {
    top: 0;
    transform: rotate(-45deg);
}

#hamburger__menu__btn__check {
    display: none;
}

/* ハンバーガーメニューボタン */
.hamburger__menu__btn {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.gnav__menu__content {
    padding: 100px 20px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /*leftの値を変更してメニューを画面外へ*/
    left: 100%;
    background-color: #f3e06e;
    z-index: 80;
    transition: left 0.3s;
    /*アニメーション設定*/
}
/* PCnav */
@media screen and (min-width:1023px){
    .gnav__menu__content {
        max-width: 1200px;
        width: 100%;
        height: 100px;
        transition: 0s;
        display: flex;
        position: absolute;
        background-color: rgba(235, 235, 235, 0);
        left: 30px;
        padding: 0;
        padding-left: 100px;
        text-align: center;
        transition: 0;
    }
    .gnav__menu__content__inner {
        position: absolute;
        height: 60px;
        margin-top: 33px;
        left: 75%;

    }
}


.gnav__menu__content.is-active {
    left: 0;
    overflow: scroll;
    /*メニューを画面内へ*/
}

/* 検索入力フォーム*/
.form__box{
    position: absolute;
    text-align: left;
    width: 210px;
    background-color: #fff;
    height: 30px;
    border-radius: 30px;
    top: 30px;
    left: 20px;
}
/* PC用 */
@media screen and (min-width:1023px) {
    .form__box{

        position: absolute;
        top: 0;
        left: 40%;
        background-color: #f3e06e;
    }
}

.form__input {
    padding:0 3px;
    height: 20px;
    border: 1px solid #4f4f4f;
    background-color: #fff;
    border-radius: 20px;
    margin: 5px 0 5px 5px ;
    width: 170px;
}


/* gnavの見出しレイアウト */
.gnav{
    width: 100%;
    text-decoration: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.gnav a {
    font-weight: bold;
}

.menu__wrap {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

/* ワード検索の虫眼鏡アイコン */

.lupe {
    color: #fff;
    background-color: #000;
    width: 23px;
    border-radius: 50%;

}

.fa__search {
    position: relative;
    left: 0;
}
/* 輪っか部分 */
.lupe__sp span:nth-child(1) {
    position: absolute;
    border: 4px solid #d9d9d9;
    border-radius: 12px;
    width: 23px;
    height: 23px;
    top: -23px;
    left: -52px;

}
/* 柄部分 */
.lupe__sp span:nth-child(2) {
    position: absolute;
    border: solid 2px #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 5px;
    max-width: 20px;
    width: 100%;
    height: 15px;
    transform: rotate(-45deg);
    top: -7px;
    left: -30px;
}
/* 通常gnavのアイコン */
.gnav__icon {
    color: #d9d9d9;
    text-align: center;
    /* 文字を真ん中に */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 10px 20px;
    max-width: 60px;
    height: auto;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: #4f4f4f;
}
.gnav__title {
    max-width: 600px;
    width: 100%;
    margin: -40px 10px;
    position: absolute;
    color: #000;
    text-decoration: none;
    border-bottom: dashed 1px #000;
    left: 50%;
    transform: translate(-50%);
}
/* sp用検索見出し */
.gnav__search__sp__title {
    max-width: 600px;
    width: 100%;
    margin: -40px 10px;
    position: absolute;
    color: #000;
    text-decoration: none;
    border-bottom: dashed 1px #000;
    left: 50%;
    transform: translate(-50%);
}
/* 虫眼鏡のgavi */
.gnav__search__sp {
    padding: 10px;
    margin: 10px 0 10px 20px;
    max-width: 60px;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    background-color: #4f4f4f;
}
/* 輪っか部分 */
.gnav__search__sp span:nth-child(1) {
    display: block;
    position: absolute;
    border: 4px solid #d9d9d9;
    border-radius: 12px;
    padding: 5px;
    width: 23px;
    height: 23px;
}
/* 柄部分 */
.gnav__search__sp span:nth-child(2) {
    display: block;
    position: relative;
    border: solid 2px #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 5px;
    max-width: 20px;
    width: 100%;
    height: 3px;
    top: 24px;
    left: 16px;
    transform: rotate(45deg);
}
/* sp用検索 */
.menu__item__search__wrap__sp {
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    height: 60px;
    margin: 10px 0 10px 0;
}

.menu__item__search__sp {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

.menu__item__search__sp li {
    list-style: none;
    position: relative;
    color: #fe9800;
    text-align: center;
    border-radius: 10px;
    margin: 0 50px;
}

.menu__item__search__sp span,
.menu__item__search__sp span::before {
    width: 100%;
    content: "";
    display: block;
    position: relative;
    border-radius: 5px;
    background-color: #fe9800;
    height: 1px;
    width: 15px;
    bottom: 35px;
}

.menu__item__search__sp span {
    transform: rotate(45deg);
    top: 7px;
}

.menu__item__search__sp span::before {
    top: 7px;
    left: 7px;
    transform: rotate(90deg);
}
/**************************
        pc用の検索
**************************/
/* 中身 */
.menu__item__wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.menu__item {
    margin: 5px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    height: 30px;
}
.menu__item  dl{
    position: relative;
    top:-23px;
    border: #000 solid 1px;
    border-radius: 20px;
    padding: 2px 5px;
}
.menu__item img {
    display: none;
}

.menu__item a {
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    margin: 2px;
    padding: 0 10px;
    height: 20px;

}
/* pcメニュー */
@media screen and (min-width:1023px) {
    .menu__item__wrap {
        flex-wrap: nowrap;
        max-width: initial;
        width: 100%;
        background-color: #f3e06e;
        padding: 20px 5%;
        margin: 0px;
        margin-left:0;
        top: 100px;
        /* justify-content: space-between; */
        left: 0px;
        position: fixed;
        visibility: hidden;
        transition: 0.3;
    }
}

@media screen and (min-width:1023px) {


    .menu__wrap {
        max-width: 1200px;
        width: 12%;
        margin: 0;
        display: flex;
        height: auto;
    }
    .menu__item{
        display: flex;
        margin: 0 auto;
        max-width: 250px;
        width: 100%;
        text-align: center;
        line-height: 30px;
        height: 85px;
        opacity: 1;
        border: #000 solid 1px;
        background: #fff;
    }
    .menu__item img {
        display: block;
        text-align: center;
        max-width: 80px;
        width: 100%;
        height: 83px;

    }
    .menu__item a{
    display: flex;
    /* text-decoration: none; */
    border-radius: 0;
    margin: 0px;
    padding: 0px;
    }
    .menu__item dl {
        position: static;
        border: 0;
    }
    .menu__item dt {
        text-align: left;
        font-weight: bold;
    }
    .menu__item dd {
        font-size: 14px;
        line-height: 1.5;
        display: block !important;
        border: 0;
    }
}
/* 1023px以上なら表示 */
@media screen and (min-width:1023px) {
    /* PCnavの見出し */
    .gnav {
        border: 0px;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 35px;
        text-align: center;
    }
    .gnav__title {
        display: block !important;
        position: static;
        max-width: 100%;
        width: 100%;
        border: 0;
        height: auto;
        margin: 0;
        transform: translate(0);
    }
}
/* ホバーアクション */
/* ホバーしたときに表示する */
.gnav:hover .menu__item__wrap {
    visibility: visible;

}

.gnav__search__title:hover ,
.gnav:hover {
    background-color: #f3e06e;
}


/* 1023px以下なら消す */
.gnav__title:last-child,
.menu__item dd{

    display: none;

}

/* 1023以上なら消す */
@media screen and (min-width:1023px) {
.hamburger__menu__btn,
.gnav__search__sp__title,
.gnav__search__sp,
.gnav__search__sp span:nth-child(1),
.gnav__search__sp span:nth-child(2),
.gnav__menu__content__inner p:first-of-type,
.gnav__icon,
.menu__item__search__wrap__sp{
    display: none !important;
}
}
