/* comonへ */

h3 {
    font-size: 2rem;
}

.bc__asobu {
    background-color: #C6DF74;
}

.bc_tomaru {
    background-color: #8BCAE6;
}

.bc_taberu {
    background-color: #E5A799;
}

.bc_list {
    background-color: #F3E06E;
}


@media (min-width:768px) {
    .h2__title {
        display: flex;
        height: 140px;
        padding: 48px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }
}


.h2__s_title {
    /* flexboxでjustyfyとtext-align使った方がきれいに見えるので採用 */
    display: flex;
    /* コンテナの横幅いっぱい */
    width: 100%;
    /* h2のままだと小さすぎるのでサイズを調整 */
    font-size: 3rem;
    /* 横をそろえる */
    justify-content: center;
    /* 縦をそろえる */
    align-items: center;
    /* ボーダーの大きさと囲いの調整 */
    border-top: 5px dashed #333;
    border-bottom: 5px dashed #333;
    font-weight: bold;
    margin: 40px 0;
}

.category {
    display: inline-flex;
    padding: 10px 20px;
    margin: 0 15px 15px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;

    border-radius: 20px;
    border: 3px dashed #000;
    /* background: #C6DF74; */
}



/*****************************/
/* もどるボタンの設計 */
/*****************************/

/* もどるのボタンの大きさ */
.modoru__btn {
    width: 200px;
    margin: 0 auto;
    padding: 30px;
}

@media screen and (min-width:768px) {

    .modoru__btn {
        width: 300px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1023px) {

    .modoru__btn {
        width: 300px;
        margin: 0 auto;
    }
}

/* comonへ終わり */


/* h3エリア表示 */
.tbl__center {
    display: flex;
    margin-top: 20px;
    padding-left: 4rem;
}

/* h3のアンダーライン */
.tbl__border {
    border-bottom: solid 2px;
    padding: 0.5rem 0;
}

/*-------------table ここから-----------*/

/* tableのレイアウト3カラム */
.tbl__sp {
    width: 5%;
}

.tbl__main {
    width: 90%;
}

/*thのアンダーライン、tdのアンダーライン*/
.line__solid {
    border-bottom: 1px solid #000000;
    padding: 10px;
}

.line__dashed {
    border-bottom: 1px dashed #000000;
}

/* .line__dashed td {
    padding: 5px;
} */

.tbl__li {
    width: 90%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}

.tbl__li th {
    padding: 8px;
    font-size: 1.4rem;
}

.tbl__li th:nth-child(1) {
    width: 40%;
}

.tbl__li th:nth-child(2) {
    width: 40%;
}

.tbl__li td:last-child {
    padding: 8px;
    border-bottom: 1px dashed #fff;
}

/* sp設定 */
@media (max-width: 768px) {

    .tbl__li {
        width: 100%;
    }

    .tbl__li td {
        width: auto;
        display: block;
        padding: 5px 0;
    }

    .tbl__li th {
        display: none;
    }

    .line__solid {
        display: none;
    }

    .tbl__li td:last-child {
        padding-bottom: 10px;
    }

}
