@charset "utf8";

.search__ttl {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    width: fit-content;
    border-bottom: dotted 6px #F3E06E;
}



.sub__title {
    /* padding: 35px 0; */
    line-height: 30px;
    gap: 10px;
    text-align: center;
    font-size: 2rem;
}

.line__solid {
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    border: 1px solid #000;
}

.bg__img {
    background-image: url(../img/common/bg-img/background-image-yl.svg);
    background-size: contain;
    /* background-repeat: repeat-y; */
}

.sl2 {
    text-align: center;
    padding: 40px;
}
