@charset "utf-8";

/* 背景イメージ */
.bg__img {
    background-image: url(../img/common/bg-img/background-image-yl.svg);
    background-size: contain;
    background-repeat: repeat-y;
}

/***************************/
/* common.CSSから引用*/
/* 大帯、h2 */
/***************************/
.banner__head {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***************************/
/* テキストのサイズ、配置変更 */
/* 大帯内text、h2 */
/* -webkit-text-strokeは指定したフォントの内側に縁取りされる為、text-shadowで擬似的に縁取りする */
/***************************/
.page__title {
    font-size: 3.8rem;
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
        -1px 1px 0 #FFF, 1px -1px 0 #FFF,
        0px 1px 0 #FFF, 0 -1px 0 #FFF,
        -1px 0 0 #FFF, 1px 0 0 #FFF;
}

@media screen and (min-width:768px) {
    .page__title {
        font-size: 5.5rem;
        text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
            -1px 1px 0 #FFF, 1px -1px 0 #FFF,
            0px 1px 0 #FFF, 0 -1px 0 #FFF,
            -1px 0 0 #FFF, 1px 0 0 #FFF;
    }
}

@media screen and (min-width:1023px) {
    .page__title {
        font-size: 5.5rem;
        text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
            -1px 1px 0 #FFF, 1px -1px 0 #FFF,
            0px 1px 0 #FFF, 0 -1px 0 #FFF,
            -1px 0 0 #FFF, 1px 0 0 #FFF;
    }

}

/****************/
/* サブタイトル */
/****************/
.sub__ttl {
    display: flex;
    width: 60%;
    height: 50px;
    margin: 20px auto;
    border: 3px solid #000;
    font-size: 2rem;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

.card__2col {
    width: 100%;
    padding-top: 20px;
}

.yellow {
    background-color: #F3E06E;
}


/******************************/
/* aside カテゴリー一覧リスト */
/******************************/

/* カテゴリー一覧タグ*/
.category__tag {
    width: 80%;
    height: 50px;
    /* 行の真ん中 */
    line-height: 40px;
    margin: 20px auto;
    font-size: 2rem;
    text-align: center;
    /* ボーダーの大きさと囲いの調整 */
    border: 3px dashed #000;
    border-radius: 15px;
}


/* カテゴリーリストラップ */
.category__innner {
    width: 100%;
    /* カテゴリ一覧タグと位置を合わせたいので,
    両サイドのpaddingを％で指定 */
    padding: 20px 12%;
}

ul {
    list-style: none;
}

ul .category__list {
    padding-left: 30px;
    line-height: 3em;
    background: url(../img/common/footprint.svg) left 0px top 22px no-repeat;
    background-size: 20px auto;
    font-size: 2rem;
}


/********************************************/
/* main__colと aside__colを入れるコンテナー */
/********************************************/

.container__col {
    width: 100%;
    padding: 20px 10px;
}


.col3__wrapper {
    padding: 30px 10px;
}

/*******************/
/* メディアクエリ */
/*******************/

@media screen and (min-width:768px) {

    .main__col {
        width: 70%;
        flex-wrap: wrap;
    }

    .aside__col {
        width: 30%;
    }

    .card__2col {
        width: 100%;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .card__wrapper {
        width: 45%;
        margin: 10px 10px;
    }

    .container__col {
        display: flex;
    }

}


@media screen and (min-width:1023px) {

    .sub__ttl {
        font-size: 3rem;
    }


    .main__col {
        width: 70%;
        flex-wrap: wrap;
    }

    .aside__col {
        width: 30%;
    }

    .card__2col {
        width: 100%;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .card__wrapper {
        width: 45%;
        margin: 10px 10px;
    }

    .container__col {
        display: flex;
    }

}

/*******************/
/* nextボタン */
/*******************/
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60px;
    border-radius: 25px;
    background-color: #F3E06E;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -8px;
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-top: 50px;
}

/*******************/
/* 詳細ページリンクボタン */
/*******************/
/* .link-area {
    display: flex;
    justify-content: center;
} */

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-height: 60px;
    border-radius: 25px;
    background-color: #F3E06E;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -8px;
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-bottom: 100px;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .link-area {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        text-align: justify;
    }
}
