@charset "utf-8";

/*********************/
/* murakami.css部分 */
/*********************/

.h2__title {
    /* バックのカラーを確認 */
    background-color: #8CCBE7;
}

@media (min-width:768px) {
    .h2__title {
        display: flex;
        height: 140px;
        padding: 48px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }
}

.facility__name {
    border-radius: 35px;
    border: 5px solid #000;
    background: #8CCBE7;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 900;
    padding: 0 10px;
}

@media (min-width:768px) {
    .facility__name {
        display: flex;
        height: 86px;
        font-size: 35px;
    }
}

.flex__c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__sb {
    display: flex;
    justify-content: space-between;
}

.top__photo {
    width: 100vw;
    margin: 0 auto;
    padding: 0 10px;
}

.top__photo img {
    width: 100%;

}

@media(min-width:768px) {
    .top__photo {
        width: 100%;
        max-width: 1200px;
    }
}

.photo__container {
    width: 100vw;
    margin: 0 auto;
    padding: 10px 0;
    /* 両サイドにスペース */
}

@media(min-width:768px) {
    .photo__container {
        width: 100%;
        max-width: 1200px;
    }
}

.choice-btn {
    width: 100%;
}

/******************************
        スリック
*******************************/
.choice-btn li.slick-current img {
    opacity: 1;
}

.choice-btn li img {
    width: 100%;
    padding: 0 10px;
    opacity: 0.4;
}

.mtb {
    margin: 10px 0;
}

.border__box {
    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.margin5 {
    margin: 5px;
}

.mr20 {
    margin-right: 20px;
}

.marginlr20 {
    margin: 0px 20px;
}

.paddinglr5 {
    padding: 0 5px;
}

.paddinglr20 {
    padding: 0 20px;
}

.column__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column__flex__left {
    display: flex;
    flex-wrap: wrap;
}

@media(min-width:768px) {
    .w40per {
        width: 40%;
    }
}

@media(min-width:768px) {
    .mb20 {
        margin-bottom: 40px;
    }
}


/*********************/
/* shinyama.css部分 */
/*********************/

/**************************************************/
/* 一覧ページのコンテンツ内にあるサブタイトルのcss */
/**************************************************/

.info {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 5px solid #000;
    background: #8CCBE7;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: Zen Maru Gothic;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

@media screen and (min-width:769px) {
    .info {
        font-size: 26px;
    }
}

.info__wrap {
    margin: 0 10px;
}

/***************/
/* information */
/***************/
.information {
    /* width: 75%; */
    margin: 0 auto;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    font-size: 16px;
}

.information dl {
    padding: 13px 0;
}

.information dl+dl {
    border-top: 1px dashed #000;
}

.information dt {
    font-weight: 900;
}

.information dd {
    margin-top: 13px;
}

@media screen and (min-width:769px) {

    /* informationテーブル化 */
    .information {
        display: table;
    }

    .information dl {
        padding: 30px 0;
    }

    .information dt,
    .information dd {
        display: table-cell;
    }

    .information dt {
        width: 300px;
        padding: 0 20px 0 40px;
    }

    /* 特記事項（メディアクエリ） */
    .note dt,
    .note dd {
        display: block;
    }

    .note dd {
        padding: 0 40px;
    }
}

@media (min-width:768px) {
    .info__wrap {
        width: 80%;
        /* display: flex; */
        margin: 0 auto;
        /* justify-content: center; */
    }

    .info__wrap li {
        display: flex;
    }

    .info__wrap li div {
        margin-left: 30%;
    }
}

/* 特記事項だけ */
.tokki {
    border-bottom: none;
    display: block;
    gap: 19px;
}

/********/
/* MAP */
/********/
.iframe {
    width: 100%;
    height: 50vh;
    margin: 100px 0 60px;
}

.iframe iframe {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:769px) {
    .iframe {
        width: 100%;
        height: 50vh;
        margin: 100px 0 100px;
    }
}

/******************/
/* 周辺情報リンク */
/******************/

/* リンクエリア全体のレイアウト */
.link__area {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* 周辺情報リンクボタン */
.special__article {
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: 130px;
    border-radius: 35px;
    background-color: #E2F1AF;
}

@media screen and (min-width: 769px) {

    /* 周辺情報リンクボタン（メディアクエリ） */
    .special__article {
        width: 700px;
    }
}

/*****************************/
/* カード型記事のテンプレート */
/*****************************/

.card__display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
}

/********************/
/* miyatake.css部分 */
/********************/

.headline {
    margin: 0 auto;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px dashed #000;
    background: #8CCBE7;
    font-size: 24px;
}

/* 仕切りライン */
.line {
    display: none;
}

@media screen and (min-width:769px) {

    /* 大見出し（メディアクエリ） */
    .headline {
        width: 330px;
        height: 90px;
        margin-bottom: 80px;
        font-size: 30px;
    }

    /* 仕切りライン（メディアクエリ） */
    .line {
        display: block;
        width: 100%;
        border: 1px solid #000;
    }
}


/******************/
/* 特集記事リンク */
/******************/

/* リンクエリア全体のレイアウト */
.link__area {
    flex-direction: column;
    align-items: center;
}

/* 特集記事リンクボタン */
.special__article {
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: 130px;
    border-radius: 35px;
    background-color: #b0dbee;
}

@media screen and (min-width: 769px) {

    /* 特集記事リンクボタン（メディアクエリ） */
    .special__article {
        width: 700px;
    }
}


/******************/
/* フォントサイズ */
/******************/
.fs35 {
    font-size: 35px;
}

.fs24 {
    font-size: 24px;
}

.fs20 {
    font-size: 20px;
}


/******************/
/* フォントの太さ */
/******************/

.fwb {
    font-weight: bold;
}

.fw500 {
    font-weight: 500;
}


/***************/
/* margin-top */
/***************/

.mt100 {
    margin-top: 100px;
}

/*********************/
/* font-size強制指定 */
/*********************/

.fs24to30 {
    font-size: 24px;
}

@media screen and (min-width: 769px) {
    .fs24to30 {
        font-size: 35px;
    }
}
